<div class="content-row">
    <div class="content-block">
        <img class="content-block" src="/content/images/theLogicDetective.png"/>
    </div>

    <div class="content-block">
        <p><strong>The Logic Detective</strong> is an experiment fusing classic logic puzzles with an RPG interface. Instead of just being given a list of clues to solve the puzzle, the player must talk with NPCs and do quests to obtain those clues.</p>
        <p>The final version would have had an interactive board like the one shown below that the player can use to solve the mystery.</p>
        <p>The story for the prototype is that the detective starts his career as a local spots newspaper journalist and has to gather information to write his story.</p>
        <ul>
            <li>Download the <a data-external-link="true" href="/content/downloads/TheLogicDetective_Windows.zip">Windows</a> or <a data-external-link="true" href="/content/downloads/TheLogicDetective_MacOS.zip">MacOS</a> version</li>
            <li>Play the <a data-external-link="true" href="/content/webPlayers/TheLogicDetective/">WebGL</a> version in your browser</li>
        </ul>
    </div>

    <div class="content-block">
        <img class="content-block" src="/content/images/theLogicDetective_board.png"/>
    </div>
</div>