
<div class="content-row">

    <div class="content-block">
        <img src="/content/images/buildABadGuyWorkshopPreview.png"/>
    </div>

    <div class="content-block">
        <p><strong>The Build a Bad Guy Workshop</strong> is a write-up that I posted on Gamasutra and Reddit. Both posts were popular and well received by the community and staff. The post on Gamasutra was featured and propagated to the home page, resting at the top big box as a feature for a few days.</p>
        <p>The post is a series of attributes that game designers can mix and match to create enemy behavior for retro games.</p>

        <ul>
            <li><a data-external-link="true" href="http://www.gamasutra.com/blogs/GarretBright/20140422/215978/Build_a_Bad_Guy_Workshop__Designing_enemies_for_retro_games.php">Gamasutra Blog Post</a></li>
            <li><a data-external-link="true" href="https://www.reddit.com/r/gamedev/comments/23oxp6/build_a_bad_guy_workshop_designing_enemies_for/">Reddit Post on r/gamedev</a></li>
        </ul>

    </div>
</div>


<div class="content-row">
    <div class="content-block">
        <img src="/content/images/buildABadGuyWorkshopAppPreview.png"/>
    </div>
    <div class="content-block">
        <p>I also built this <a data-external-link="true" href="/content/webPlayers/BadGuyWorkshop/">interactive web app</a> as a companion piece.</p>
        <p>You can add States and Triggers, and connect them. The app features a random state generator, and has more attributes than the write-ups have listed.</p>
    </div>
</div>