
<div class="content-row">

    <div class="content-block">
        <img src="/content/images/mtgSealedDeckBuilder.png"/>
    </div>

    <div class="content-block">
        <p>The <strong><i>Magic: The Gathering</i> Sealed Deck Builder</strong> is a rich web application that I built using Javascript and JQuery. The application loads XML files saved on the server that contain the list of cards in that specific pool. This was the first large scale application I build in Javascript, and while I wasn't very familiar with the language then, I was still able to complete the project.</p>
        <p>Stores affiliated with Wizards of the Coast's event system can host Prerelease Parties - events that occur about one week before a new set of <i>Magic the Gathering</i> is released. At these events, players are given six unopened booster packs, which they open and use the 84 cards within as a pool to create a deck for play that night. This Sealed Deck Builder application mimics that experience.</p>
        <p>Through a couple team meetings with other members of the DailyMTG staff at Wizards of the Coast, we drafted the basic outline of features and the general UI for the application. I then worked with Tom Jenkot, our team's graphic designer, to further nail down the interface. From there, I built the entire application as a solo project. When the application was completely functional, Toshiko Okumura, another team's graphic designer, built the specific graphic elements into a Photoshop PSD file, which I sliced and exported png files from and implemented into the product.</p>
        <p>Here are a couple samples of the application in action:</p>
        <ul>
            <li><a data-external-link="true" href="http://magic.wizards.com/en/articles/archive/sealed-deck-builder-02092012-2012-02-09"><i>Innistrad</i> / <i>Dark Ascension</i> pool</a></li>
            <li><a data-external-link="true" href="http://magic.wizards.com/en/articles/archive/sealed-deck-builder-06212012-2012-06-21"><i>Avacyn Restored</i> pool</a></li>
        </ul>
    </div>
</div>
