
<div class="content-row">

    <div class="content-block">
        <img src="/content/images/OldPortfolio.png"/>
    </div>

    <div class="content-block">
        <p>This is what my previous online portfolio looked like.</p>
        <p>I liked it a lot, but it wasn't mobile friendly, had rough navigation, was cumbersome to update, and didn't feature my portfolio pieces clearly enough.</p>
        <p>I modeled, lit, and rendered the 3D assets that make up the background animation in 3D Studio Max.</p>
        <ul>
            <li><a data-external-link="true" href="/content/webPlayers/OldPortfolio/">My old portfolio in action</a></li>
        </ul>
    </div>
</div>