
<div class="content-row">

    <div class="content-block">
        <img src="/content/images/sierra7.png"/>
    </div>

    <div class="content-block">
        <p><strong>Sierra 7</strong> is a Top-Down Adventure Shooter.</p>
        <p>The main hook to combat is that there are five types of weapons and that the player can make a unique weapon by combining two of them, and can upgrade each weapon type with currency. The player also has a hookshot that they can use to cross rivers and traverse the area quickly.</p>
        <p>The weapon types are:</p>
        <ul>
            <li><strong>Bouncer</strong>: The projectile bounces off walls. Upgrades will increase the number of times it bounces.</li>
            <li><strong>Exploder</strong>: The projectile will explode causing splash damage when it hits an enemy ship. Upgrades increase explosion radius.</li>
            <li><strong>Spread</strong>: Each time the player fires, multiple projectiles are emitted. Upgrades increase the number of projectiles.</li>
            <li><strong>Missile</strong>: Missiles deal extra damage to enemies. Upgrades increase the amount of damage dealt.</li>
            <li><strong>Homing</strong>: Projectiles home in on enemies. Upgrades increase the projectile's turn radius and accuracy.</li>
        </ul>
        <p>There are several types of enemies implemented:</p>
        <ul>
            <li><strong>"Snake"</strong>: Four discs that travel together in a line. It changes direction often.</li>
            <li><strong>"Hummingbird"</strong>: A fast enemy that zeroes in on the player's position and tries to collide with it. When it is destroyed, it causes a large explosion that deals major damage.</li>
            <li><strong>"Snail"</strong>: It randomly travels around the environment dropping puddles of goo. When the player collides with a goo spot, the player's vision is obscured.</li>
            <li><strong>"Elephant"</strong>: It travels towards the player firing a projectile. When it is within a certain distance, it starts rotating around the player firing at it. It has a large amount of health and often blocks the player's shots from hitting other enemies.</li>
            <li><strong>"Squirrel"</strong>: It wanders around the environment firing its primary weapon from time to time.</li>
            <li><strong>"Armadillo"</strong>: It wanders around the environment, stopping occasionally and spinning in place. While it is spinning, the player's projectiles are reflected back.</li>
            <li><strong>"Hornet"</strong>: It travels quickly and bounces off walls, stopping occasionally to fire two long laser beams, creating a damage wall.</li>
        </ul>
        <p>I hit a writer's block in figuring what the ultimate objective of the game was and how the player would go about doing it. I had originally envisioned this to be sort of a Sandbox Metroidvania. All of the ideas I had to take this game forward suffered from expanding feature-creep, and I wasn't happy with it just being an endless shooter.</p>


        <ul>
            <li><a data-external-link="true" href="/content/webPlayers/Sierra7/">Play in your Browser</a></li>
        </ul>
    </div>
</div>