
<div class="content-row">

    <div class="content-block">
        <img src="/content/images/outpost.png"/>
    </div>

    <div class="content-block">
        <p><strong>Outpost</strong> is a Threes/2048 type game where the arrow keys move all units at the same time.</p>
        <p>There are two types of units: Workers and Soldiers. Every few turns, a new Monster appears on the board. If the Monster touches a Worker, the Worker dies. If a Soldier touches a Monster, the Monster dies. If a Monster touches a house, the unit that lives in that house also dies. Monsters always move in the opposite direction as the player.</p>
        <p>Workers gather resources by pressing into them.</p>
        <p>2 Wood + 1 Stone = Worker House</p>
        <p>1 Wood + 2 Stone = Soldier Barracks</p>
        <p>The game ends when all workers have been killed.</p>
        <p>The goal is to see how many Monsters the player can kill or how large of a population the player can reach before getting game over.</p>
        <ul>
            <li><a data-external-link="true" href="/content/webPlayers/Outpost/">Play in your Browser</a></li>
        </ul>
    </div>
</div>