
<div class="content-row">
    <div class="content-block">
        <p>These pieces were done for <a data-external-link="true" href="https://www.amazon.com/Super-Mario-Galaxy-Prima-Official/dp/0761556435?ie=UTF8&*Version*=1&*entries*=0">Prima's Official Strategy Guide for Super Mario Galaxy</a>.</p>
    </div>
</div>

<div class="content-row">
    <img class="content-block" src="/content/images/mario_render1.jpg"/>
    <img class="content-block" src="/content/images/mario_render2.jpg"/>
    <img class="content-block" src="/content/images/mario_render3.jpg"/>
    <img class="content-block" src="/content/images/mario_render4.jpg"/>
    <img class="content-block" src="/content/images/mario_render5.jpg"/>
    <img class="content-block" src="/content/images/mario_render6.jpg"/>
    <img class="content-block" src="/content/images/mario_render7.jpg"/>
    <img class="content-block" src="/content/images/mario_render8.jpg"/>
    <img class="content-block" src="/content/images/mario_render9.jpg"/>
</div>