


<div class="content-row">

    <div class="content-block">
        <img src="/content/images/develteam-v1.png"/>
    </div>

    <div class="content-block">
        <p><strong>Develteam</strong> is a large-scale Social Network for Indie Game Developers. The primary goal of the site is to help indie developers find other developers to form teams and make games.</p>
        <p>I built, designed, and maintain this site entirely solo. </p>
        <p>The site has many features, including Facebook-style feeds and posts, up/down voting of content, a message board, detailed profile and account settings, join/managing Devteams and Game Projects, chatrooms, a member-managed game tools section, RSS Feeds for popular game dev news and podcasts, a brainstorming section that functions sort of like a creative version of Stack Overflow, options to browse content and users, and a 'Connect' feature that allows developers to find other developers or game projects based on criteria.</p>
        <p>Users can also join or create Devteams and Game Projects, which function as groups. Members of these groups have access to a private chatroom, a public and private message board, a tasks list maintained by group moderators, and a private file depot.</p>

        <ul>
            <li><a data-external-link="true" href="http://www.develteam.com">Develteam.com</a></li>
        </ul>
    </div>
</div>