
<div class="content-row">

    <div class="content-block">
        <img src="/content/images/ActionTBS.png"/>
    </div>

    <div class="content-block">
        <p><strong>ActionTBS</strong> is an experiment to make a Turn Based Strategy Game but without all the windows.</p>
        <p>Each time the player makes a move or performs and action, all of the enemies take their turns. Depending on where the player is in relation to the enemies dictates the enemy's action. In this prototype, there is only one kind of enemy. If the player ends their turn in the same row or column as an Enemy and is within 6 tiles from it, the enemy will fire a projectile at the player. Otherwise, the enemy makes a random move.</p>
        <p>I like this prototype and I'm still coming up with ideas to flesh it out some. My main idea at this moment is to make it a Roguelike.</p>
        <ul>
            <li><a data-external-link="true" href="/content/webPlayers/ActionTBS/">Play in your Browser</a></li>
        </ul>
    </div>
</div>