
<div class="content-row">

    <div class="content-block">
        <div class="youtube-container" data-id="AvpYtzAr_1w">
            <div class="youtube-play-button"></div>
        </div>
    </div>

    <div class="content-block">
        <p><strong>To Lose the Moon</strong> is an experiment that attempted to combine the Point-and-Click Graphic Adventure genre with the Turn Based Strategy genre.</p>
        <p>The player moves tied to a grid and can click on NPCs and certain objects to interact with them. The combat engine was never developed, but it would have been very similar to the one in another of my prototypes, ActionTBS.</p>
    </div>
</div>