
<div class="content-row">

    <div class="content-block">
        <img src="/content/images/Numbers.png"/>
    </div>

    <div class="content-block">
        <p><strong>Numbers</strong> is a small math prototype.</p>
        <p>Clicking on any cell will add all five numbers, making a new total for that cell and replacing the surrounding cells with new numbers.</p>
        <p>On the left, a pattern of numbers is displayed. The player must match that pattern on the play board. When they do, a new pattern appears and must match the new pattern while not changing the previous one. Every three matches, one pattern is removed and a new pattern is added.</p>
        <ul>
            <li><a data-external-link="true" href="/content/webPlayers/Numbers/">Play in your Browser</a></li>
        </ul>
    </div>
</div>