
<div class="content-row">

    <div class="content-block">
        <div class="youtube-container" data-id="nuun4tIeZe8">
            <div class="youtube-play-button"></div>
        </div>
    </div>

    <div class="content-block">
        <p><strong>Elemental Inbalance</strong> is a Role Playing Combat Game built using the Warcraft 3 engine. This is the tutorial stage that sets up the plot and introduces the player to the controls.</p>
        <p>The player is a summoner who has just begun to learn his magic potential. The player starts in a village where the player can use custom commands to speak with NPCs. Scripted events push the player through the introduction. During the adventure, the player uses creatures summoned by the summoner to attack enemies and interact with objects. Each summoned creature gains experience and learns new abilities over time, giving both power to the summons and new control abilities to the summoner.</p>

</div>

<div class="content-row">
    <div class="content-block">
        <img src="/content/images/elemental_ss_01.jpg"/>
    </div>
    <div class="content-block">
        <img src="/content/images/elemental_ss_02.jpg"/>
    </div>
    <div class="content-block">
        <img src="/content/images/elemental_ss_03.jpg"/>
    </div>
    <div class="content-block">
        <img src="/content/images/elemental_ss_04.jpg"/>
    </div>
    <div class="content-block">
        <img src="/content/images/elemental_ss_05.jpg"/>
    </div>
</div>