
<div class="content-row">

    <div class="content-block">
        <img src="/content/images/boxcars.png"/>
    </div>

    <div class="content-block">
        <p><strong>Boxcars</strong> is a Threes/2048 type game where the arrow keys move all tiles at the same time.</p>
        <p>There are four types of tiles, one for each quadrant of a box. Shifting tiles into each other will combine them as long as they don't share any overlapping pieces. Once the player creates a tile with all four pieces, it can be moved into the Furnace in the center of the board.</p>
        <p>When a piece is moved into the Furnace, the rocket burns it like fuel and propels through space. If the player combines two complete tiles, the tile is worth two tiles and will give the rocket more than twice the boost it would have gotten if they were deposited individually. The bigger the stack of fuel that gets deposited, the farther the rocket will propel.</p>

        <ul>
            <li><a data-external-link="true" href="/content/webPlayers/Boxcars/">Play in your Browser</a></li>
        </ul>
    </div>
</div>