
<div class="content-row">

    <div class="content-block">
        <img src="/content/images/dontLoseHope.png"/>
    </div>

    <div class="content-block">
        <p><strong>Don't Lose Hope</strong> is a casual mobile simulator where the player assumes the role of an Indie Game Developer</p>
        <p>The game is meant to be a resource manager with a large dose of dark humor. My goal is to create an experience that other indie game developers will deeply relate with, while non-developers will get a window into the world of indie game development (hopefully spreading some awareness and appreciation for the games they consume).</p>

        <p>The player starts with no skills, and must click on Icons that represent Programming Skill, Art Skill, and Design Skill to increase their abilities. Each time the player attempts to study a skill, there is a chance to earn a skill point or to lose hope, indicating that they're getting frustrated in spending time to learn but not learning.</p>
        <p>The player can also click on the Web Browser icon to surf the net. Usually, this action just wastes an hour, but they also have a chance to encounter a large number of events that affect their stats. For example, the player may stumble across an article about State Machines and earn some programming skill, or they might find a YouTube video of another indie developer's devlog and lose hope after reading the very critical comments section.</p>
        <p>Hope loss is multiplied by how Lonely, Hungry, and Tired they are. To combat hope loss, the player must form relationships with others, purchase and eat food, and sleep on a regular schedule.</p>
        <p>Relationships are double-edged in that the player must maintain these relationships by engaging in activities with them. For example, having a girlfriend/boyfriend will reduce the player's loneliness, however random events will occur where the player must make a choice between working on their games or spending time with their mate. If the player doesn't get enough done in a certain period of time, they lose hope, but if the player doesn't spend enough time with their mate, they risk that relationship falling apart.</p>
        <p>The player also has an amount of money. At the beginning of each month, rent is due, and each meal costs money. At some point, the player will not be able to afford these things and will be required to take a day job.</p>
        <p>Day jobs range from retail to profession programmer. Each day job affects the player's stats and takes time out of the day that could be spent developing games. A retail job causes the player to lose hope, while a programmer job helps increase the player's Programming Skill.</p>
        <p>The player can also discover Meet-ups where they can make friends, gain hope, and increase skill points by showing off prototypes.</p>
        <p>Eventually, the player will lose all hope and will quit indie game development. However, six months will pass, some of their skills will decay, and they will get back into it, unable to resist their true passion.</p>
        <ul>
            <li><a data-external-link="true" href="/content/downloads/dontlosthope-06.25.16.apk">Download the .apk</a></li>
            <li><a data-external-link="true" href="/content/webPlayers/DontLoseHope/">Play in your Browser</a></li>
        </ul>
    </div>
</div>