
<div class="content-row">

    <div class="content-block">
        <img src="/content/images/zombieEscape.png"/>
    </div>

    <div class="content-block">
        <p><strong>Zombie Escape</strong> a Roguelike Survival Text Adventure where the player assumes the role of an ordinary citizen during a zombie outbreak. The current state allows players to move from room to room, search rooms, and pick up items. Planned for future updates is a combat engine, more actions for items (like break, push against door, etc), stat-based rolls, random events, sleeping, eating, drinking, combining items, and more.</p>
        <p>This was the first project I did using AngularJS. I stopped working on it as the scope of the project increased and architecture decisions I made early on started becoming too cumbersome to work with. I learned a lot about AngularJS with this project and I have plans to restart it using better patterns. One major mistake I found was that I mixed responsibilities of views, controllers, and factories too much. A rebuild of the project would be done with stricter rules about what logic belongs in what modules.</p>
        <ul>
            <li><a data-external-link="true" href="/content/webPlayers/ZombieEscape/">Play in your Browser</a></li>
        </ul>
    </div>
</div>