
<div class="content-row">

    <div class="content-block">
        <img src="/content/images/slideyBlocks.png"/>
    </div>

    <div class="content-block">
        <p><strong>Slidey Blocks</strong> is a mobile game I developed using Unity3D.</p>
        <p>The objective is to slide rows and columns of blocks to match the play board to the solution board.</p>
        <p>Features:</p>
        <ul>
            <li>Blocks wrap around the edges and skip over holes in the board, and there are Stopper Blocks that prevent sliding.</li>
            <li>Players can challenge themselves to solve each puzzle within an allotted number of moves and earn Stars.</li>
            <li>Players can also compete on Leaderboards and earn Achievements.</li>
        </ul>

        <p>Download on <a data-external-link="true" href="https://play.google.com/store/apps/details?id=com.StormGarden.SlideyBlocks">Google Play Store</a> or <a data-external-link="true" href="https://itunes.apple.com/us/app/slidey-blocks/id1114410909">iTunes App Store</a></p>
    </div>

    <div class="content-block"><img src="/content/images/slideyBlocks-ss1.png"/></div>
</div>