
<div class="content-row">
    <div class="content-block">
        <div class="youtube-container" data-id="jGmoGbta0SA">
            <div class="youtube-play-button"></div>
        </div>
    </div>

    <div class="content-block">
        <h3>Easy Intro</h3>
        <p>This level is meant to be a "level 1-1" type. It introduces one of the new power-ups, and some of the mechanics of the game while being very easy to play through. It is also meant to be easy to speedrun through, like most other 1-1 levels in SMB games.</p>
        <p><strong>In Hindsight</strong>: </p>
        <ul>
            <li>Two of the Star Coins are too obtusely hidden for a 1-1 type level. All three should be very easy to find.</li>
            <li>There a few spots that a little too hard, like the ParaTrooper hole at 0:48.</li>
            <li>I don't like that there is a mini-mushroom obtainable immediately after grabbing a Fire Flower.</li>
            <li>There are some minor graphic issues (The camera pan by the third Star Coin, the use of water in the underground part).</li>
        </ul>
    </div>
</div>


<div class="content-row">
    <div class="content-block">
        <div class="youtube-container" data-id="-RDTw90idkk">
            <div class="youtube-play-button"></div>
        </div>
    </div>

    <div class="content-block">
        <h3>Underground Havoc</h3>
        <p>This level is meant to be an underground level about 3/4ths through the game as a near-maze area. My main objective was to have an atmosphere of exploration, and set up some sort of mini-games along the way, such as the "avoid the Piranha Plants while climbing the vine" and "Get that 1-Up in the mini-pipe run."</p>
        <p><strong>In Hindsight</strong>: </p>
        <ul>
            <li>this level is way too long, and should be split into two separate, smaller levels.</li>
            <li>A few encounters are a little too unfair - specifically the bullet-bill part.</li>
        </ul>
    </div>
</div>

<div class="content-row">
    <div class="content-block">
        <div class="youtube-container" data-id="EYScyLuuEMI">
            <div class="youtube-play-button"></div>
        </div>
    </div>

    <div class="content-block">
        <h3>Sky Shrooms</h3>
        <p>This level is meant to just be a fun athletic type level with tricky jumps and enemy placement.</p>
        <p><strong>In Hindsight</strong>: </p>
        <ul>
            <li>The detour to the Star Coin half-way through the level is a little too long and could have been shortened.</li>
            <li>There are a few blind jumps in the second half of the stage.</li>
        </ul>
    </div>
</div>


<div class="content-row">
    <div class="content-block">
        <div class="youtube-container" data-id="yjsGbxa5o4Q">
            <div class="youtube-play-button"></div>
        </div>
    </div>

    <div class="content-block">
        <h3>Sky Ruins</h3>
        <p>The main inspiration for this level was to create a two-tone contrast in atmosphere. The ground is lush, colorful, full of life, and upbeat. The player moves quickly through this area with lots of slides and easy jumping. The Sky Ruins segments are cold, forbidding, colorless, and desolate. The player has to move slowly through these areas, timing their jumps and watching enemy movements.</p>
        <p><strong>In Hindsight</strong>: </p>
        <ul>
            <li>The Invisibility Star mini-game feels out of place in the Sky Ruins section, as it has the exact opposite vibe that the rest of the area is trying to emphasize. Considering I meant for it to feel lifeless, it's ironically easy to earn multiple 1-Ups</li>
            <li>I don't like how the vines that spawn from the blocks eat a tile, but I couldn't think of another way to prevent the player from ground-pounding the block and causing a soft-lock, preventing progress.</li>
        </ul>
    </div>
</div>


<div class="content-row">
    <div class="content-block">
        <div class="youtube-container" data-id="2jOzT6VARO8">
            <div class="youtube-play-button"></div>
        </div>
    </div>

    <div class="content-block">
        <h3>Ghost House</h3>
        <p>This is meant to be a standard Ghost House level with tricks and traps, and a maze-like exporation element.</p>
        <p><strong>In Hindsight</strong>: </p>
        <ul>
            <li>It's hard to judge this as a successful/unsuccessful ghost house level because the whole point is to experience being lost and tricked and I already know the path and what to watch out for.</li>
            <li>It's a little too long (speedrunning through it takes 5 minutes). A few of the rooms should be removed.</li>
        </ul>
    </div>
</div>

<div class="content-row">
    <div class="content-block">
        <div class="youtube-container" data-id="Mz6HAl2kcTM">
            <div class="youtube-play-button"></div>
        </div>
    </div>

    <div class="content-block">
        <h3>Jungle Temple</h3>
        <p>This level is meant to be spacious, allowing the player a sense of exploration. There are multiple paths and lots of nooks and crannies to explore. I wanted to give Mario sort of an Indiana Jones adventure.</p>
        <p><strong>In Hindsight</strong>: </p>
        <ul>
            <li>I wish I had implemented some switches here and there to make it feel like the player was unlocking the next part of the level, as if they're breaking into the temple.</li>
            <li>The custom tileset is a bit janky looking.</li>
            <li>The end of the level with the flag feels too out of place compared to the rest of the level.</li>
        </ul>
    </div>
</div>


<div class="content-row">
    <div class="content-block">
        <div class="youtube-container" data-id="ID6ebkJy7FQ">
            <div class="youtube-play-button"></div>
        </div>
    </div>

    <div class="content-block">
        <h3>Sand Castle</h3>
        <p>This level is a tower in the desert, full of desert-like obstacles. I wanted the player to feel as though they're inside an actual tower reaching far into the sky, and emphasized that with a few sections where the player climbs the tower on the outside of it.</p>
        <p><strong>In Hindsight</strong>: </p>
        <ul>
            <li>There should be a boss at the end of the level, probably either a Bowser Jr or a Bowser.</li>
            <li>The mushroom part at the end feels out of character from the rest of the level and instead should have been a boss room.</li>
        </ul>
    </div>
</div>

<div class="content-row">
    <div class="content-block">
        <div class="youtube-container" data-id="P_d7_3h5AhQ">
            <div class="youtube-play-button"></div>
        </div>
    </div>

    <div class="content-block">
        <h3>Pipe Maze</h3>
        <p>Ever since playig World 7 in Super Mario Bros 3, I've loved the idea of a pipe maze level. This is my attempt at one.</p>
        <p><strong>In Hindsight</strong>: </p>
        <ul>
            <li>The underwater secret area is too long for being a side objective.</li>
            <li>The difficulty feels uneven. The second half of the level has far fewer enemies than the first half.</li>
            <li>The player has to play through the level more than once to get everything - something I'm not usually a fan of.</li>
        </ul>
    </div>
</div>
