<div class="content-row">

    <div class="content-block">
        <img src="/content/images/develteam-v2.png"/>
    </div>

    <div class="content-block">
        <p><strong>Develteam</strong> has started to show its age visually, so I hired a freelance graphic designer to redesign the site. I started applying the new CSS styles but before long, I realized how unhappy I was with the architecture, so I decided it would be best to rebuild it from the ground up.</p>
        <p>The rebuild project is a NodeJS application using BackboneJS for the front end. All routing is done through Backbone and is a Single Page Application. The NodeJS Server is configured as a RESTful API and all content is loaded dynamically through Backbone's Models, Views, and Collections. I am also using RequireJS to keep everything modularized.</p>
        <p>The project is still in active development and has some way to go before it will be live.</p>
    </div>
</div>