
<div class="content-row">

    <div class="content-block">
        <img src="/content/images/hmc_ss01.jpg"/>
        <img src="/content/images/hmc_ss02.jpg"/>
    </div>

    <div class="content-block">
        <p><strong>The Horseman Cometh</strong> is an Asymmetrical Team-vs-Team First Person Shooter.</p>
        <p>The story: In the later half of the year 2012, Portals to Hell began opening up all around the world. It is said that December 21st of this year is the final day of man. All that stands in the way of an Earth overrun by Hell's minions is the Order of the Secret Scrolls, an international, multi-generational secret society of militaristically trained Monks.</p>

        <p>Each map has one portal, which starts the game at 50% strength.</p>
        <p>Players are separated into two teams: The Demons, and The Monks.</p>
        <p>The Monks are humans with human-like stats and are equipped with an automatic weapon. The alt fire for that weapon emits a beam, which only links to the Portal in the map, and diminishes its strength. If the Portal's strength diminishes to 0%, the Monks have closed the portal and win the game. The gameplay vibe for the Monk team can be described as a Gauntlet, where they run from their spawn point to the portal while fending off demons.</p>
        <p>The Demons have an increased movement speed and jump height and have temporary flight. Their only weapons are their claws, which they use in melee combat. When they kill a Monk, their victim's soul drops to the ground. The Demons must bring these souls to the Portal to feed it strength. If the Portal's Strength reaches 100%, the Portal is powerful enough to bring in a large army, and the Demons win. The game play environment vibe for the Demon team is summed up as a Jungle Gym, where they attack from above and behind, usually in groups.</p>
    </div>

</div>