<ul>
{{#each navItems}}<li><a href="{{link}}" data-nav-item-index="{{@index}}" data-router-nav="true" class="{{#if isSelected}}selected{{/if}}"><i class="fa {{icon}}"></i>{{title}}</a></li>{{/each}}
</ul>