<section class="resume">
    <h1>Garret Bright</h1>

    <h2>Skills</h2>

    <ul>
        <li>General Development</li>
        <li>MVC / MV* Patterns</li>
        <li>Object Oriented Programming</li>
        <li>Clean Code</li>
        <li>Modern IDEs</li>
        <li>Read by Refactoring Techniques</li>
        <li>Agile Development</li>
        <li>Version Control</li>
        <li>Test Driven Development</li>
        <li>Single Web Page Applications</li>
        <li>Code Review Processes</li>
    </ul>

    <ul>
        <li>Web Development</li>
        <li>PHP</li>
        <li>HTML5</li>
        <li>FreeMarker Template Language</li>
        <li>XML</li>
        <li>CSS3</li>
        <li>LESS / SASS</li>
        <li>Javascript</li>
        <li>JQuery</li>
        <li>JQuery Plugin Development</li>
        <li>BackboneJS</li>
        <li>AngularJS</li>
        <li>NodeJS</li>
        <li>RequireJS</li>
        <li>Handlebars</li>
        <li>Handlebars Helpers</li>
        <li>MySQL</li>
        <li>Java</li>
        <li>QUnit</li>
        <li>Sinon</li>
        <li>Responsive Design</li>
    </ul>

    <ul>
        <li>Game Development</li>
        <li>Unity 3D in C#</li>
        <li>Unreal Engine</li>
        <li>Actionscript 3</li>
        <li>Level Editors</li>
        <li>Level Scripting</li>
        <li>Game Design Theory</li>
        <li>2D Level Design</li>
        <li>3D Level Design</li>
        <li>Rapid Prototype Development</li>
        <li>Mobile Development</li>
    </ul>

    <ul>
        <li>Art</li>
        <li>3D Studio Max</li>
        <li>Adobe Photoshop</li>
        <li>Adobe Illustrator</li>
    </ul>

    <ul>
        <li>Office</li>
        <li>Trello</li>
        <li>Thoughtworks Mingle</li>
        <li>Microsoft Word</li>
        <li>Microsoft Excel</li>
        <li>Microsoft Outlook</li>
    </ul>

    <h2>Work History</h2>

    <div class="history-item">
        <h3>Expedia</h3>
        <h4>Software Development Engineer I</h4>
        <h5>June 2014 - Present</h5>
        <p>I develop, maintain, and expand features on the Flight Search Results page. Work that I've done includes modifying existing code for A/B Testing features and functionality, developing front-end platforms and infrastructure, migrating old code to new platforms, developing new features and modules, code reviews, and assisting other developers from my team and other teams in the organization.</p>
    </div>

    <div class="history-item">
        <h3>Develteam</h3>
        <h4>Software Engineer, Admin, Design</h4>
        <h5>August 2012 - Present</h5>
        <p>I am the sole developer, administrator, and designer of <a data-external-link="true" href="//www.develteam.com">Develteam</a>, a large-scale Social Network for Indie Game Developers. I communicate with users to determine the features they would like to see and study analytics to determine features to develop further or to remove.</p>
    </div>

    <div class="history-item">
        <h3>Wizards of the Coast</h3>
        <h4>Web Content Producer</h4>
        <h5>May 2008 - July 2012</h5>
        <p>I Published web content for the DailyMTG web magazine and promotional content for other areas of the Wizards of the Coast website using Javascript, CSS, and HTML. Writers and Editors would create content for the webzine and I would convert it into markup and push it to the site.</p>
    </div>

    <div class="history-item">
        <h3>Nintendo of America</h3>
        <h4>Game Product Tester</h4>
        <h5>July 2008 - February 2010</h5>
        <p>I tested first and third party Nintendo games for hard locks, soft locks, graphic corruption, faulty AI, unintended shortcuts, and other gameplay issues. I reported bugs to the development team and verified bug fixes with new builds.</p>
    </div>

    <div class="history-item">
        <h3>V-Design / Nintendo Power</h3>
        <h4>Master Gamer</h4>
        <h5>July 2005 - June 2007</h5>
        <p>I Played through and mastered first and third party Nintendo games for use in Nintendo Power Official Strategy Guides. I found the secrets and strategies to give players the edge they needed, as well as took screenshots to accompany copy.</p>
    </div>

    <h2>Education</h2>

    <div class="history-item">
        <h3>ITT Technical Institute</h3>
        <h4>Bachelors in Video Game Development, Minor in Multimedia Arts</h4>
        <h5>Fall 2004 - Fall 2008</h5>
    </div>

    <div class="history-item">
        <h3>ITT Technical Institute</h3>
        <h4>Associates in Computer Science</h4>
        <h5>Fall 1997 - Fall 2000</h5>
    </div>

</section>